/* You can add global styles to this file, and also import other style files */

@font-face {
    font-family: 'Mochiy Pop P One';
    src: url(assets/fonts/MochiyPopPOne-Regular.ttf) format("opentype");
  }
  
  body {
    font-family: 'Mochiy Pop P One', 'arial', sans-serif;
  }